@font-face {
    font-family: Montauk;
    src: url("../Fonts/Montauk/Montauk-Regular.otf") format("otf");
}

body {
    background-image: url("../Images/bgtexture.jpg");
    color: #5F002B;
}

.card,
.card-img-top {
    border-radius: 0% !important;
}

p {
    font-size: 14px;
    font-family: Montauk;
}

h2,
h3,
h5 {
    font-family: 'Fugaz One', cursive;
}

h2 {
    font-size: 50px;
}

h3,
h5 {
    font-size: 30px;
}
