/* fonts */

@font-face {
    font-family: "Montauk";
    src: url("../fonts/Montauk-Regular/Montauk-Light.otf");
}

.montauk {
    font-family: "Montauk";
}

body {
    background-image: url("../images/bgtexture.jpg");
    background-repeat: repeat;
    background-size: 600px 400px;
    color: #5F002B;
    background-color: #F2E9D9;
    /* font-family: "Montauk"; */
}

.bg-header {
    /* background-color: transparent; */
    font-family: 'Fugaz One', cursive;
}

.nav-links {
    color: #5F002B;
    size: 20px;
}

a {
    color: #5F002B;
    size: 20px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #5F002B;
    border-radius: .25rem
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */

/* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
} */

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    color: #5F002B;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0rem
}

.whiteSectionHeaders {
    background-color: white;
    height: 80px;
}

.centerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container, .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1640px
    }
}

/* MENU CARD STYLES */

.menuCardBG {
    background-color: white;
    /* width: 812px; */
    /* margin-right: 8px; */
    border: 8px;
    border-color: transparent;
}

.menuCardHeader {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
}

.menuSubhead {
    padding-bottom: 42px;
}

.menuCardImage {
    max-height: 250px;
}

.menuItem {
    font-size: 35px;
    font-family: "Montauk";
    /* padding-top: 40px; */
}

.itemDesc {
    font-size: 20px;
    font-family: "Montauk";
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
    color: #5F002B;
}

hr {
    border-color: #980051;
    border-width: 1px;
    padding-bottom: 40px;
    margin: 0;
}

.price {
    line-height: 30px;
    color: #5F002B;
}

.menuCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0rem;
    margin-bottom: 20px;
    /* min-width: 812px; */
    /* width: 100%; */
    /* min-height: 727px; */
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding: 23px 33px;
}

/* FOOTER */
.footerText{
    font-family: "Montauk";
}

.footerPad{
    padding-top: 120px;
}

.rightJustify{
    text-align: end;
}

.nav-link {
    display: block;
    padding: .5rem 0rem .5rem 4rem;
    text-align: right;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%
}

.card-img, .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px
}



