<?xml version="1.0"?>
<configuration>
  <system.webServer>
  
  <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  </staticContent>
     
    
  
  </system.webServer>
</configuration>